.ol-popup {
    display: block;
    background-color: #FFFEF4; /*배경색*/
    border-radius: 5px;
    width: 200px;
    border: 2px solid #FFCD4A; /*메인색*/
    opacity:1;
    padding:3px 3px 15px 15px; /*위 오른쪽 아래 왼*/
}

.ol-popup-closer {
    background: none; /*메인색*/
    border: none;
    margin-left: 180px;
    margin-top: 0px;
    cursor: grab;
}

.info-content {
    background-color: #fff8dc;
}

.ol-popup-content {
    align-items: center;
}

.button {
    background-color: rgba(255,248,230,0.5);
    cursor: pointer;
    font-size: 14px;
    border-color: #ffde84;
    border-style: solid;
}
.button:hover {
  background-color: rgba(255,248,230,0.9);
  border-color: #ffde84;
  transition: background-color 0.5s ease;
}