/*App.css*/
/*배경색: #FFFEF4 */
/*메인색: #FFCD4A */
.container {
  display: flex;
  height: 100vh;
}
.main-left-side {
  flex: 1;
  background-color: #FFFEF4; /*배경색*/
  padding: 0px;
}
.ToggleLeftSide {
  width:18px;
  height: 100vh;
  justify-content: center; /* 수직 정중앙 정렬 */
  align-items: center; /* 수직 정중앙 정렬 */
  display: flex;
  background-color: #FFFEF4; /*배경색*/
}

.ToggleLeftSideBtn {
  width: 18px;
  height: 100px;
  text-align: center;
  display: flex;
  justify-self: center;
  justify-content: center; /* 수평 정중앙 정렬 */
  align-items: center; /* 수직 정중앙 정렬 */
  border-style: none;
  background-color: #FFFEF4; /*배경색*/
}
.ToggleLeftSideBtn:hover {
  background-color: #FFCD4A; /*메인색*/ /* 마우스 호버 시 배경색 변경, 불투명도 50% */
}

.main-right-side {
  flex: 2.5;
  background-color: #FFFEF4; /*배경색*/
}
/*Header부분*/
.header {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #FFFEF4; /*배경색*/
  color: #fff; /* 헤더 텍스트 색상 */
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
}
.search-bar {
  display: flex;
  border: 1px solid #FFCD4A; /*메인색*/
  border-radius: 80px;
  padding: 2px;
  background-color: #FFFEF4; /*배경색*/
  width: 350px;
  margin-bottom: 0px;
}
.search-bar input {
  flex: 2;
  border: none;
  outline: none;
}
.search-bar button {
  background-color: #FFCD4A; /*메인색*/
  color: #FFFEF4; /*배경색*/
  border: none;
  border-radius: 15px 15px 15px 15px;
  cursor: pointer;
  width: 45px;
  height: 30px;
}
/*탭 구성*/
.menu {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
  background-color: #ffe8b0; /*메인색 연하게 응용*/
}
.menu-tab {
  background-color: rgba(0, 0, 0, 0); /* 탭 배경색 */
  color: black; /* 탭 텍스트 색상 */
  border: none;
  cursor: pointer;
  display: block;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-top: 10px;
  text-decoration: none;
  border-radius: 0px;
  transition: background-color 1s ease;
}
.menu-tab:hover {
  background-color: #555; /* 마우스 호버 시 배경색 변경 */
}
/*홈화면 좌측 패널*/
.home-left {
  background-color: #FFFEF4; /*배경색*/
  padding-left: 1px;
  justify-content: space-around;
}
/*info 창*/
.info-page{
  border-style: solid;
  border-color: #FFCD4A; /*메인색*/
  background-color: #FFFEF4; /*배경색*/
  margin: 3px 0px 5px 0px; /*위 오 아래 왼*/
  padding-left: 0px;
  padding-right: 0px;
}
/*pathfinder-page*/
.pathfinder-page {
  flex: 1;
  background-color: #FFFEF4; /*배경색*/
}
.option-button-row {
  display: flex;
  padding: 0px;
  justify-content: space-between;
  margin-top: 1px;
  margin-bottom: 1px;
}
.option-button{
  margin-top: 1px;
  height: 35px;
  font-size: 13.5px;
  border-radius: 3px; /* 테두리의 모서리를 둥글게 설정 */
  border-width: 1px; /* 버튼의 테두리 두께 */
  border-style: solid; 
  border-color:#FFCD4A; /*메인색*/
  background-color: #FFFEF4; /*배경색*/
}
.option-button:hover {
  color: #FFFEF4; /*배경색*/
  background-color: #FFCD4A; /*메인색 마우스 호버 시 배경색 변경 */
}
.selected-button {
  background-color: #FFCD4A; /*메인색*/
  height: 35px;
  font-size: 13.8px;
  color: #FFFEF4; /*배경색*/
  border-radius: 3px; /* 테두리의 모서리를 둥글게 설정 */
  border-width: 1px; /* 버튼의 테두리 두께 */
  border-style: solid; 
}
.input-row {
  display: flex;
  flex-direction: column; /* 내부 요소를 세로로 배열 */
  margin-top: 3px;
  margin-bottom: 3px;
}
.irumarkerImage {
  height: 35px;
  overflow: hidden;
  width: auto;
}
.button-row {
  display: flex;
  padding: 1px;
  justify-content: flex-end;
  margin-top: 5px;
  margin-bottom: 5px;
}
.stopover-remove-button{
  height:25px;
  width: 25px;
  font-size:18px;
  border-radius: 100%; /* 테두리의 모서리를 둥글게 설정 */
  border-width: 1px; /* 버튼의 테두리 두께 */
  border-style: solid;
  background-color: #FFFEF4; /*배경색*/
  transition: background-color 0.1s ease;
  align-items: center; /* 요소를 수직으로 중앙 정렬합니다. */
}
.stopover-remove-button:hover {
  color: black; /*배경색*/
  background-color: #313030; /* 마우스 호버 시 배경색 변경 */
}
.stopover-add-button{
  margin: 5px;
  height:35px;
  width: 35px;
  font-size:20px;
  border-radius: 5px; /* 테두리의 모서리를 둥글게 설정 */
  border-width: 1px; /* 버튼의 테두리 두께 */
  border-style: solid;
  background-color: #FFFEF4; /*배경색*/
  transition: background-color 0.1s ease;
}
.stopover-add-button:hover {
  color: #FFFEF4; /*배경색*/
  background-color: #2a2828; /* 마우스 호버 시 배경색 변경 */
  font-size:20px;
}
.input{
  display: flex;
  flex-wrap: nowrap;
}
.input-box{ /* 출발,도착,경유지 입력창 */
  height: 30px;
  width: 90%;
  margin: 1px;
  border-style: solid;
  border-width: 1px;
}
.pf-input-style{ /* 출발,도착,경유지 입력창 */
  height: 27px;
  width: 94%;
  margin: 0px;
  margin-left: 0px;
  margin-right: 0px;
  border-style: none;
  outline: none; /* 포커스 스타일 제거 */
}
.button-style{
  margin: 5px;
  height:35px;
  font-size:13px;
  border-radius: 5px; /* 테두리의 모서리를 둥글게 설정 */
  border-width: 1px; /* 버튼의 테두리 두께 */
  border-style: solid; 
  background-color: #FFFEF4; /*배경색*/
  transition: background-color 0.1s ease;
}
.button-style:hover {
  color: #FFFEF4; /*배경색*/
  background-color: #2a2828; /* 마우스 호버 시 배경색 변경 */
  font-size:13px;
}
.shortest-path-text{
  font-size:16px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  margin: 8px;
  border: 1px solid black;
}
.deco-text-style{
  font-size:16px;
  align-items: center;
  display: flex;
  flex-direction: column;
}
/*버튼 설정 */
.showingBtn{ /*장애물 버튼 설정 */
  margin: 3px;
  height:35px;
  font-size: 15px;
  border-radius: 3px; /* 테두리의 모서리를 둥글게 설정 */
  border-width: 1px; /* 버튼의 테두리 두께 */
  border-style: solid;
  background-color: rgba(0, 0, 0, 0); /* 탭 배경색 */
  transition: background-color 0.1s ease;
}
.showingBtn:hover {
  background-color: #FFCD4A; /*메인색 마우스 호버 시 배경색 변경 */
}
.showingObstacleBtns {
  display: flex;
  margin-top: 5px;
  justify-content: space-between;
}
.showingFacBtnT {
  font-size: 13px;
  text-align: center;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 20% 0 0; /* 5개의 버튼이 균등하게 배치되도록 너비 설정 */
}

.showingFacBtn {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border-style: solid;
  border-color: #dcdbd9;
  padding: 0px;
}

.showingFacBtn .iconImage {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.showingFacBtn:hover {
  border-color: #FFCD4A; /*메인색*/
}

.showingFacilitiesBtns {
  display: inline-flex;
  flex-wrap: wrap;
  margin-top: 5px;
  justify-content: space-between;
}

.iconImage {
  width: 15px;
  height: 15px;
}

.obstacles-list{
  font-size:16px;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  margin: 8px;
  border: 1px solid black;
}

.individual-obstacles-box{
  display: flex; /* 요소를 플렉스 컨테이너로 설정 */
  justify-content: flex-end; /* 요소를 오른쪽에 정렬 */
  margin-inline-end: 5px;
  height: 30px;
  width: 80px;
  font-size: 15px;
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  border-color: #FFCD4A;
  background-color: #FFFEF4;
}
.individual-obstacles{
  margin: 10px;
  display: flex;
  align-items: center; /* 요소를 수직으로 중앙 정렬합니다. */
}

